{{define "change_background"}}
    <style>
        body {
            background-color:white !important;
        }
    </style>
{{end}}
{{block "header" .}}
<nav class='black'>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">{{.SiteTitle}}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                {{if .isLoggedIn }}<li class='red'><a href="/app/dashboard/">Dashboard</a></li>{{else}}<li class='red'><a href="/register/login/">Log In</a></li>{{end}}
            </ul>
        </div>
    </div>
</nav>
{{end}}
{{define "content"}}
<div class="container" style="min-height:90vh;">
    <div class="row">
        <div class="col s12 black-text">
            <h2>Contact {{.SiteTitle}}</h2>
            <p></p>
        </div>
    </div>
</div>
{{end}}