{{define "site_title"}}
    Dashboard | {{.SiteTitle}}
{{end}}
{{define "extra_css"}}
<style>
    img.course-image {
        filter: blur(1px) brightness(0.5);
    }
</style>
{{end}}

{{ define "content" }}
<div style="min-height:100vh;">
    <div class="container">
        <div class="row">
            <h1 style="font-size:32px;">Dashboard</h1>
            <div class="divider"></div>
        </div>
        <div class="row" id="course_list">
            <a href="/app/board/create/"><div class="col s12 m3">
                <div class="card-panel teal valign-wrapper" style="height:330px;">
                    <span style="width:100%;" class="white-text center-align">
                        Add New Board
                    </span>
                </div>
            </div></a>
            {{range .Boards}}
            <div class="col s12 m3">
                <div class="card blue-grey darken-1 hoverable" style="height:330px;">
                    <div class="card-image">
                        <!-- <img class="course-image" src="/static/img/course-placeholder.jpg"> -->
                        
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">{{ .name }}</span>
                        <p>{{ .vision }}</p>
                    </div>
                    <div class="card-action">
                        <a target="" href="/app/boards/{{ .session }}/">View Board</a>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <!-- <a style="position:absolute;bottom:8px;right:16px;" class="btn-floating btn-large waves-effect waves-light red" href="/app/course/create/"><i class="material-icons">add</i></a> -->
</div>
{{end}}
{{define "extra_js"}}
{{end}}