{{define "content"}}
<div>
    <div class='container outer-center' style='height:94vh;'>
        <div class='inner-center'>
            <img src='/static/img/thinking.svg' width=100 height=100 class='center'/>
            <h1 class="center white-text">Welcome to {{.SiteTitle}}</h1>
            <h2 id='demo' class="center white-text">What is Your Vision?</h2>
            <br>
            <form method="POST" action="/app/starting_survey/">
                <input autocomplete="off" class="white-text" name='mainInput' id='main_input' style="border-radius:8px;border:1px white solid;padding-left:1em;padding-right:1em;" />
            </form>
            <p class="center-align">
                <a href="/app/starting_survey/" class="waves-effect waves-light btn red">Get Started</a>
            </p>
        </div>
    </div>
</div>
{{end}}
{{define "extra_js"}}
<script>
    var quotesList = [
        "I want to build an app.",
        "I want to start a business.",
        "Innovate the corn industry."
    ]

    var i = 0;
    var baseText = 'Building '; /* The text */
    var speed = 80; /* The speed/duration of the effect in milliseconds */
    var txt = "I want to build an app.";
    var currentTxt = "";
    var forward = true;
    function typeWriter() {
        if (forward) {
            currentTxt += txt.charAt(i)
            $("#main_input").attr("placeholder", currentTxt);
            i++;
            if (i > txt.length) {
                forward = false;
            }
        }else{
            currentTxt = currentTxt.slice(0, i)
            $("#main_input").attr("placeholder", currentTxt);
            i--;
            if (i <= 0 ){
                forward = true;
                currentTxt = ""
                txt = quotesList[Math.floor(Math.random() * quotesList.length)]
                $("#main_input").attr("placeholder", currentTxt);
            }
        }
        setTimeout(typeWriter, speed);
    }
    $(document).ready( function() {
        //TODO Saving for later
        typeWriter();
    });
</script>
{{end}}