{{ define "extra_css" }}
<style>
    .question_input {
        border-radius:8px !important;
        border:1px white solid !important;
        padding-left:1em !important;
        padding-right:1em !important;
        width:90% !important;
    }
</style>
{{end}}
{{ define "content" }}
<div style="min-height:100vh;">
    <div class="section"></div>
    <div class="container"id="mainStage">
        <div id='question_space'>
        {{if not .SkipFirst}}
            <h1 class="white-text">Welcome to {{.SiteTitle}}. Let's get started building your project.</h1>
            <h3 class="white-text">To start, could you tell us your name?</h3>
        {{else}}
            <h1 class="white-text">Welcome back to the {{.SiteTitle}} board builder.</h1>
            <h3 class="white-text">What is the vision for your project?</h3>
        {{end}}
        </div>
        
        <p class='white-text'>Answer:</p>
        <form method="POST" name="main_form" action='/api/survey/intro/'>
            {{if not .SkipFirst}}
            <input id='question_id' name='question' class="hide" value=1 />
            {{else}}
            <input id='question_id' name='question' class="hide" value=2 />
            {{end}}
            
            <div id="answer_area">
                <input autocomplete="off" class="question_input white-text" name='mainInput' id='main_input' />
            </div>
            <br />
            <button class="waves-effect waves-light btn">Submit</button>
            <br />
        </form>
    </div>
</div>
{{end}}
{{define "extra_js"}}
<script type="text/babel">
    if (typeof(Storage) !== "undefined") {
        // Code for localStorage/sessionStorage.
    } else {
        alert("Sorry! No Web Storage support.")
    }
    var taskIndex = 0;
    var currentQuestion = 0;
    $('form[name=main_form]').submit(function() {
        // Maybe show a loading indicator...
        $("#question_space").hide(100);
        console.log($(this).serialize());
        //$('#main_input').prop('disabled', true)


        $.post($(this).attr('action'), $(this).serialize(), function(res){
            // Do something with the response `res`
            console.log(res);
            var response = JSON.parse(res)

            if ("Done" in response) {
                window.location.href = "/app/dashboard/"
                return
            }

            currentQuestion = response.id;
            if ("Error" in response) {
                if (response["Error"] === "No Auth") {
                    const element = (
                        <div className="center-align">
                            <h1 className="white-text">You need to sign up before we can finish making your board.</h1>
                            <a href="/register/signup/?redirect=/app/board/finish/" className="waves-effect waves-light btn">Sign Up</a>
                        </div>
                    );
                    ReactDOM.render(element,document.getElementById('mainStage'))
                }
                $("#question_space").show(100);
            }else{
                $("#question_space").show(100);
                const element = (
                    <div className="left-align">
                        <h1 className="white-text">{ response.Main }</h1>
                        <h3 className="white-text">{ response.Body }</h3>
                    </div>
                );
                ReactDOM.render(element,document.getElementById('question_space'))
                if (response.id == 3){
                    const suggestion_tags = (
                        <div>
                        <p>
                            <label>
                                <input name="mainInput" type="radio" checked value="Business Venture"/>
                                <span className="white-text">Business Venture</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="mainInput" type="radio" value="Maker Project"/>
                                <span className="white-text">Maker Project</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="mainInput" type="radio" value="Personal Project"/>
                                <span className="white-text">Personal Project</span>
                            </label>
                        </p>
                        </div>
                    )
                    ReactDOM.render(suggestion_tags,document.getElementById('answer_area'))        
                }else if(response.id == 4) {
                    var currentTask = 'task_in_' + taskIndex
                    const suggestion_tags = (
                        <div>
                            <div id="taskList">
                                <input autoComplete="off" className="question_input white-text" name='mainInput' id={currentTask} />
                            </div>
                            <a id="addTaskBtn" className="waves-effect waves-light btn">Add Another Task</a>
                            <br />
                        </div>
                    )
                    ReactDOM.render(suggestion_tags,document.getElementById('answer_area'))  
                    taskIndex += 1;
                }else if(response.id == 5) {
                    var currentTask = 'task_in_' + taskIndex
                    const suggestion_tags = (
                        <div>
                            <input autoComplete="off" className="question_input white-text" name='mainInput' id='main_input' />
                            <br />
                            <label htmlFor="password" className='white-text'>Password (optional)</label>
                            <input autoComplete="off" className="question_input white-text" name='password' id='password' />
                            <br />
                        </div>
                    )
                    ReactDOM.render(suggestion_tags,document.getElementById('answer_area'))  
                    taskIndex += 1;
                }
                $('#question_id').val(response.id)
                
                if (response.id == 2) {
                    $('#main_input').val('{{.Vision}}')
                }else{
                    $('#main_input').val("")
                }
            }
            console.log(response);
        });
        return false; // prevent default action
    });

    $('#answer_area').on('click', "#addTaskBtn", function(e) {
        var taskList = $('#taskList')
        var currentTask = 'task_in_' + taskIndex
        var curInput = '<input autocomplete="off" class="white-text question_input" name="mainInput" id="' + currentTask + '" />'
        taskList.append($(curInput))
        taskIndex += 1;
    });
    $('#main_input').on('keypress', function(e) {
        var code = e.keyCode || e.which;
        if(code == 13) { //Enter keycode
            console.log($('#main_input').val());
            $('form[name=main_form]').submit();
        }
    });
</script>
{{end}}
<!--
    var ws = null;
    var socketIsOpen = false;
    if ("WebSocket" in window) {
        ws = new WebSocket('ws://' + window.location.host + '/ws')
        
        ws.onopen = function() {
            socketIsOpen = true;
        };

        ws.onmessage = function (evt) { 
            var received_msg = evt.data;
            console.log('Message is received: ' + received_msg);
            
            var responseJson = JSON.parse(evt.data);
            
            ReactDOM.render(
                <h1>{ responseJson.response }</h1>,
                document.getElementById('question_space')
            )
            $('#main_input').prop('disabled', false)
        };
    }else{
        alert("You must use a browser which allows for web sockets to continue.")
    }
-->