.outer-center {
    display: table;
}

.inner-center {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

body {
	width: 100wh;
	height: 100%;
	min-height:90vh;
	color: #fff;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
