{{define "content"}}
<div class='container outer-center' style='height:94vh;'>
    <div class='inner-center'>
        <div class = "container white black-text z-depth-2" style='padding:16px;border-radius:8px;margin-top:16px;'>
            <div class = "row" style='margin:16px;' id='main_form'>
                <h1>Login to {{.SiteTitle}}</h1>
                <p>Don't have an account? Sign up <a href="/register/signup/?redirect={{ if .RedirectUrl }}{{.RedirectUrl}}{{ else }}/{{end}}">here</a>.</p>
                <div class='col s12 left-align'>
                    <form method="POST" action='/api/register/login/' name='login' >
                        <p id='error' class="red-text"></p>
                        <label for='login_email'>Email</label>
                        <input id='login_email' name='email'/>
                        <br>
                        <label for='login_password'>Password</label>
                        <input type="password" id='login_password' name='password'/>
                        <button class="waves-effect waves-light btn red" type='submit'>Login</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{ define "extra_js" }}
<script type="text/babel">
    $('form[name=login]').submit(function(){

        // Maybe show a loading indicator...
        $("form[name=login]").hide(100);
        $.post($(this).attr('action'), $(this).serialize(), function(res){
            // Do something with the response `res`
            var response = JSON.parse(res)

            if ("Error" in response) {
                document.getElementById('error').innerHTML = "Incorrect Credentials: Try again."
                $("form[name=login]").show(100);
            }else{
                const element = (
                    <div className="center-align">
                        <h3>Login Successful</h3>
                        <p>Redirecting...</p>
                    </div>
                );
                ReactDOM.render(element,document.getElementById('main_form'))
                window.location.href = {{ if .RedirectUrl }}"{{.RedirectUrl}}"{{ else }}"/"{{end}}
            }
            console.log(response);
            // Don't forget to hide the loading indicator!
        });

        
        return false; // prevent default action

    });
</script>
{{end}}