{{define "extra_css"}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{end}}
{{define "content"}}
<div class='container outer-center' style='height:94vh;'>
    <div class='inner-center'>
        <div class = "container white black-text z-depth-2" style='padding:16px;border-radius:8px;margin-top:16px;'>
            <div class = "row" style='margin:16px;'>
                <h1>Sign Up for {{.SiteTitle}}</h1>
                <p>Already have an account? Sign in <a href="/register/login/">here</a>.</p>
                <div class='col s12 left-align' id='main_form'>
                    <form method="POST" action='/api/register/signup/' name='signup'>
                        <div class="row">
                            <div class="col s12">
                                <p id='error' class="red-text"></p>
                            </div>
                            <div class="col s12 m6">
                                <label for='sign_up_first'>First Name</label>
                                <input id='sign_up_first' name="first_name"/>
                            </div>
                            <div class="col s12 m6">
                                <label for='sign_up_last'>Last Name</label>
                                <input id='sign_up_last' name="last_name"/>
                            </div>
                            <br>
                            <div class="col s12">
                                <label for='sign_up_email'>Email</label>
                                <input id='sign_up_email' name="email"/>
                            </div>
                            <br>
                            <div class="col s12 m6">
                                <label for='sign_up_password'>Password</label>
                                <input type="password" id='sign_up_password' name="password"/>
                            </div>
                            <div class="col s12 m6">
                                <label for='sign_up_confirm_password'>Confirm Password</label>
                                <input type="password" id='sign_up_confirm_password' name="password_confirm"/>
                            </div>
                            <div class="col s12">
                                <label for='agree_terms'>
                                    <input type="checkbox" id='agree_terms' required name="agree_terms"/>
                                    <span>By signing up for {{.SiteTitle}}, you agree to the <a href="/terms/">Terms of Use</a> and <a href="/privacy/">Privacy Policy</a></span>
                                </label>
                            </div>
                            <div class="col s12">
                                <br />
                                <div class="g-recaptcha" data-sitekey="6LfBNFwUAAAAAPKaZpT7XQ-lkN5ZgL8hByx_kox4"></div>
                                <br />
                            </div>
                            <button class="waves-effect waves-light btn red" type='submit'>Sign Up</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{ define "extra_js" }}
<script type="text/babel">
    $('form[name=signup]').submit(function(){
        $("form[name=signup]").hide(100);
        // Maybe show a loading indicator...

        $.post($(this).attr('action'), $(this).serialize(), function(res){
            var response = JSON.parse(res)
            if (!("Success" in response)) {
                if ("Error" in response){
                    document.getElementById('error').innerHTML = response["Error"]
                }
                $("form[name=signup]").show(100);
            }else{
                {{ if .RedirectUrl }}window.location.href = "{{.RedirectUrl}}"{{end}}
                const element = (
                    <div class="center-align">
                        <h3>You are now signed up for {{.SiteTitle}}</h3>
                        <br />
                        <a href="/app/dashboard/" class="waves-effect waves-light btn red">Start Using {{.SiteTitle}} Now</a>
                    </div>
                );
                ReactDOM.render(element,document.getElementById('main_form'))
                {{ if .RedirectUrl }}window.location.href = "{{.RedirectUrl}}"{{end}}
            }
            console.log(response);
        });

        return false; // prevent default action

    });
</script>
{{end}}