{{define "change_background"}}
    <style>
        body {
            background-color:white !important;
        }
    </style>
{{end}}
{{define "extra_css"}}

{{end}}
{{define "header"}}
<nav class='black'>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo left">{{.SiteTitle}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                {{if .isLoggedIn }}<li class='red'><a href="/app/dashboard/">Dashboard</a></li>{{else}}<li class='red'><a href="/register/login/">Log In</a></li>{{end}}
            </ul>
        </div>
    </div>
</nav>
{{end}}
{{ define "content" }}
<div style="height:100vh;">
    <div class="container">
        <div class="row">
            <h1 style="font-size:32px;">{{ if .model }}{{ .model }}{{else}}Admin{{ end }}</h1>
            <div class="divider"></div>
            {{ if .form }}{{ .form.Render }}{{ end }}
        </div>
    </div>
    <a style="position:absolute;bottom:8px;right:16px;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>
{{end}}
{{define "extra_js"}}
{{end}}