{{ define "content" }}
<div style="height:100vh;">
    <div class="section"></div>
    <div class="container center-align">
        <div class="row">
            <h1 class="white-text">404</h1>
        </div>
        <div class="row">
            <h1 class="white-text">Looks like you {{ .SiteTitle }}ed up.</h1>
            <h3 class="white-text">This page does not exist.</h3>
        </div>
    </div>
</div>
{{end}}
{{define "extra_js"}}
{{end}}