{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block "site_title" .}}{{.SiteTitle}}{{end}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/materialize_icon.css">
    {{block "change_background" .}}
    <link rel="stylesheet" href="/static/css/base.css">
    {{end}}
    {{block "extra_css" .}}
    {{end}}
    <script src="/static/js/react.development.js"></script>
    <script src="/static/js/react-dom.development.js"></script>
    <script src="/static/js/babel.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <!-- <script src="/static/js/babel-preset.js"></script> -->
    <script src="/static/js/anchorme.min.js"></script>
    
</head>
<body id="baseBody">
    <header>
        {{block "header" .}}
        <nav class='transparent'>
            <div class="nav-wrapper">
                <div class="container">
                    <a href="/" class="brand-logo">{{.SiteTitle}}</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/about/">About</a></li>
                        <li><a href="/contact/">Contact</a></li>
                        {{if .isLoggedIn }}<li class='red'><a href="/app/dashboard/">Dashboard</a></li>{{else}}<li class='red'><a href="/register/login/">Log In</a></li>{{end}}
                    </ul>
                </div>
            </div>
        </nav>
        {{end}}
        <ul class="sidenav center-align" id="mobile-demo">
            <h2 class="black-text">Navigation</h2>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            {{if .isLoggedIn }}<li class='red white-text'><a href="/app/dashboard/">Dashboard</a></li>{{else}}<li class='red white-text'><a href="/register/login/">Log In</a></li>{{end}}
        </ul>
    </header>
    <main>
        {{ template "content" . }}
    </main>
    {{block "footer" .}}
    <footer class="page-footer black text-white">
        
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Interested in {{.SiteTitle}}?</h5>
                    <p class="grey-text text-lighten-4">
                        Check out the Cobalt Pig Development blog at 
                        <a class='text-white' href='https://cobaltpig.com/blog/'>https://cobaltpig.com/blog/</a>.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">More Information</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/terms/">Terms of Service</a></li>
                        <li><a class="grey-text text-lighten-3" href="/privacy/">Privacy Agreement</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Cobalt Pig Development, LLC
            </div>
        </div>
        
    </footer>
    {{end}}
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery-sizes.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, null);
        });
    </script>
    {{block "extra_js" .}}{{end}}
</body>
{{end}}