{{ define "main"}}<div class="checkboxLbl"><label ><input type="checkbox" name="{{.name}}"{{ if .classes }} class="{{range .classes}}{{.}} {{end}}"{{end}}{{if .id}} id="{{.id}}"{{end}}{{if .params}}{{range $k, $v := .params}} {{$k}}="{{$v}}"{{end}}{{end}}{{if .css}} style="{{range $k, $v := .css}}{{$k}}: {{$v}}; {{end}}"{{end}}{{range $k,$v := .tags}} {{$k}}{{end}}><span>{{.label}}</span></label></div><br>
{{end}}