{{define "content"}}
<div class='container outer-center' style='height:94vh;'>
    <div class='inner-center'>
        <div class = "container white black-text z-depth-2" style='padding:16px;border-radius:8px;margin-top:16px;'>
            <div class = "row" style='margin:16px;'>
                <h1>{{.SiteTitle}}</h1>
                <h2>Password Required for Board</h2>
                <p id="error"></p>
                <form method="POST" action="/api/boards/password/" name="passForm" id="main_form" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input autocomplete="off" type="text" name='mainInput' id='main_input' class="validate" />
                            <label for="main_input">Password</label>
                        </div>
                    </div>
                    <input autocomplete="off" value="{{.Session}}" class="white-text hide" name='session' id='session' style="border-radius:8px;border:1px white solid;padding-left:1em;padding-right:1em;" />
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}
{{ define "extra_js" }}
<script type="text/babel">
    $('form[name=passForm]').submit(function(){
        $("form[name=passForm]").hide(100);
        // Maybe show a loading indicator...

        $.post($(this).attr('action'), $(this).serialize(), function(res){
            var response = JSON.parse(res)
            if (!("Success" in response)) {
                if ("Error" in response){
                    document.getElementById('error').innerHTML = response["Error"]
                }
                $("form[name=passForm]").show(100);
            }else{
                window.location.href = {{ if .RedirectUrl }}"{{.RedirectUrl}}/?password=" + response['Success']{{ else }}"/"{{end}}
                // const element = (
                //     <div class="center-align">
                //         <h3>You are now signed up for {{.SiteTitle}}</h3>
                //         <br />
                //         <a href="#" class="waves-effect waves-light btn red">Start Using {{.SiteTitle}} Now</a>
                //     </div>
                // );
                // ReactDOM.render(element,document.getElementById('main_form'))
            }
            console.log(response);
        });

        return false; // prevent default action

    });
    $('#main_input').on('keypress', function(e) {
        var code = e.keyCode || e.which;
        if(code == 13) { //Enter keycode
            console.log($('#main_input').val());
            $('form[name=passForm]').submit();
        }
    });
</script>
{{end}}