{{define "site_title"}}
    {{.Board.name}} | {{.SiteTitle}}
{{end}}
{{define "change_background"}}
    <style>
        body {
            background-color:#1976d2 !important;
            max-height:100vh;
        }
        footer {
            display:none;
        }
        h1, p, label, a, span {
             -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
        }
    </style>
{{end}}
{{define "extra_css"}}
    <style>
        .checkboxLbl {
            margin-top:20px;
            margin-bottom:20px;
        }
        .task {
            width:100%;padding:30px 16px 30px 16px;
        }
        .selected-task {
            background-color:#e0e0e0 !important;
        }
        .by-line {
            font-size:12px;
        }
        #background {
            position: absolute;
            top: 20%;
            left: 0;
            bottom: 20%;
            right: 0;
            z-index: -1;
            overflow: hidden;
        }
        .taskBody {
            -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
        }
        #navi,
        #infoi {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        #infoi {
            z-index: 10;
        }
    </style>
{{end}}
{{define "header"}}
    <div class="hidden"></div>
{{end}}
{{ define "content" }}
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Edit Board Settings</h4>
        <form method='POST' action='/api/board/edit/' name='settingsForm'>
            <div class='row'>
                <div class="input-field col s12">
                    <input placeholder="Board Name" id="board_name" type="text" name='board_name' class="" value="{{.Board.name}}">
                    <label for="board_name">Board Name</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Board Vision" id="board_vision" type="text" name='board_vision' class="" value="{{.Board.vision}}">
                    <label for="board_name">Board Vision</label>
                </div>
                <input placeholder="Board Vision" id="board_id" type="text" name='board_id' class="hide" value="{{.Board.id}}">
                <button id="submitSettings" class="waves-effect waves-light btn modal-close">Save Changes</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>
{{if eq .UserId .Board.owner}}
<a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal1" style="position:fixed;bottom:20px;right:20px;"><i class="material-icons">settings</i></a>
{{end}}
<div style="min-height:100vh">
    <div class="white section" id="mainInformation">
        <div class="container valign-wrapper">
            <a href="/app/dashboard/"><i style="margin-right:1em;" class="material-icons">arrow_back</i></a><p style="display:inline-block;"><span id="visionTitle" style="font-size:32px;">{{.Board.vision}}</span><br />
            <span style="font-size:14px;">{{.Board.type}}</span></p>
            <button href="#" id="saveBoard" class="waves-effect waves-light btn" style="float:right;margin-left:20px;">Save Board</button>
        </div>
    </div>
    <div class="white">
        <div class="container">
            <ul class="tabs valign-wrapper" id="boardTabs">
                {{range .Tabs}}
                <li class="tab col s6 tab-tab" data-id="{{.id}}" id='tab_{{.id}}'><a id='tab_a_{{.id}}' class="{{if eq .id $.FirstTab}}active{{end}}" href="#tab_area_{{.id}}">{{.title}}</a></li>
                {{end}}
                <li id="addTabLi" style="display: table;list-style-type:inline-block;padding-left:1em;padding-right:1em;height:100%;background-color:#1976d2;" class="valign-wrapper"><a id="newTab" href="#" style="display: table-cell;vertical-align: middle;"><i class="material-icons white-text">add</i></a></li>
            </ul>
        </div>
    </div>
    <div id="tab_area" style="overflow-x:auto;">
        <div class="section" id="mainArea">
            <div class="container">
                <div class="row">
                    <div class="col m6 s6">
                        <h1 style="font-size:32px;" class="white-text">Private Tasks</h1>
                        <div class="z-depth-2" style="border:1px solid white;border-radius:8px;background:white;">
                            <form method="POST" name ="taskForm" id="taskForm" action="/api/tasks/file/" enctype="multipart/form-data" style="padding-left:16px;padding-right:16px;padding-top:16px;">
                                <label for="mainInput">New Private Task</label>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="input-field" style="float:left;width:87%;margin-right:4%;">
                                                <input autocomplete="off" class="black-text" name='Body' id='Body' />
                                            </div>
                                            <div style="float:right;width:9%;" class="file-field input-field">
                                                <div class="btn">
                                                    <span><i class='material-icons'>attach_file</i></span>
                                                    <input type="file" id="fileUploadPrivate" name='fileUploadPrivate'>
                                                </div>
                                                <!-- <div class="file-path-wrapper">
                                                    <input class="file-path validate hide" type="text" placeholder="Upload one or more files">
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                <button class="waves-effect waves-light btn" >Submit</button>
                            </form>
                            <br />
                            <ul class="tabs" id="privateTabs">
                                <li class="tab col s6"><a class="active" href="#onGoing">On Going</a></li>
                                <li class="tab col s6"><a href="#completed">Complete</a></li>
                            </ul>
                            <div id="onGoing">
                                <ul id="dragContainer" class="hide valign-wrapper" style="max-height:10vh;border:1px solid white;border-radius:8px;margin-top:8px;padding-bottom:20px;">
                                    <p class="center-align white-text" style="width:100%;"><i class="material-icons">add</i><span>Add New Public Task</span></p>
                                </ul>
                                <!-- <a id="btnAddTask" class="waves-effect waves-light btn modal-trigger" style="width:100%;" href="#taskModal">Add Private Task</a> -->
                                <ul style="max-height:50vh;overflow-y: auto;min-height:10vh;" class="collection black-text drag-containe white" id="taskList">
                                {{range .privateTasks}}
                                    <li class="hoverable" id="li_{{.id}}">
                                        <div data-id="{{.id}}" data-oid="{{.originalquestion}}" data-body="{{.body}}" data-name="{{.displayname}}" id="task_{{.id}}" id="task_{{.id}}" class="hoverable collection-item drag-block white black-text task dragListItemPrivate ">
                                            <span class="grey-text by-line taskBody">Created By: {{.displayname}}</span>
                                            <br />
                                            <span class='taskBody'>{{.body}}</span>
                                            <div class="secondary-content">
                                                <label id='label_{{.id}}'>
                                                    <input data-id="{{.id}}" data-complete="false" type="checkbox" name="completeCheck_{{.id}}" />
                                                    <span></span>
                                                </label>
                                            </div>
                                            <br />
                                            <!-- <span class="grey-text by-line taskBody">{{if .completed}}Completed By: {{range .completed}}<span style="margin-right:1em;">{{.displayname}}</span>{{end}}{{else}}Not Completed{{end}}</span> -->
                                            {{if .file}}<span class="grey-text by-line taskBody">Attachment: <a href='https://s3.amazonaws.com/paariomain{{.file}}'>{{.file}}</a>{{end}}
                                        </div>
                                    </li>
                                {{end}}
                                </ul>
                            </div>
                            <div id="completed">
                                <!-- <h2 style="font-size:26px;" class="white-text">Recently Completed Tasks</h2> -->
                                <ul class="collection black-text white" style="overflow-y:auto;" id="recentTaskList" style="min-height:10vh;">
                                {{range .completeTasks}}
                                    <li class="hoverable">
                                        <div id="task_{{.id}}" class="hoverable collection-item drag-block white black-text task">
                                            <span class="grey-text by-line taskBody">Created By: {{.displayname}}</span>
                                            <br />
                                            <span class='taskBody'>{{.body}}</span>
                                            <div class="secondary-content">
                                                <label id='label_{{.id}}'>
                                                    <input data-id="{{.id}}" data-complete="false" type="checkbox" checked name="completeCheck_{{.id}}"  />
                                                    <span></span>
                                                </label>
                                            </div>
                                            <br />
                                            <!-- <span class="grey-text by-line taskBody">{{if .completed}}Completed By: {{range .completed}}<span style="margin-right:1em;">{{.displayname}}</span>{{end}}{{else}}Not Completed{{end}}</span> -->
                                            {{if .file}}<span class="grey-text by-line taskBody">Attachment: <a href='https://s3.amazonaws.com/paariomain{{.file}}'>{{.file}}</a>{{end}}
                                        </div>
                                    </li>
                                {{end}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col m6 s6">
                        <h1 style="font-size:32px;" class="white-text">Public Tasks</h1>
                        <div class="z-depth-2" style="border:1px solid white;border-radius:8px;background:white;">
                            <form method="POST" name ="publicTaskForm" action="/api/tasks/file/public/" style="padding-left:16px;padding-right:16px;padding-top:16px;">
                                <label for="mainInput">New Public Task</label>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field" style="float:left;width:87%;margin-right:4%;">
                                            <input autocomplete="off" class="black-text" name='mainInput' id='main_input' />
                                        </div>
                                        <div style="float:right;width:9%;" class="file-field input-field">
                                            <div class="btn">
                                                <span><i class='material-icons'>attach_file</i></span>
                                                <input type="file" id="fileUploadPublic" name='fileUploadPublic'>
                                            </div>
                                            <!-- <div class="file-path-wrapper">
                                                <input class="file-path validate hide" type="text" placeholder="Upload one or more files">
                                            </div> -->
                                        </div>
                                        <button class="waves-effect waves-light btn" >Submit</button>
                                    </div>
                                </div>
                            </form>
                            <ul class="collection black-text drag-container" id="publicTaskList" style="max-height:50vh;overflow-y:auto;min-height:10vh;">
                                {{range .publicTasks}}
                                <li class="hoverable">
                                    <div data-id="{{.id}}" data-oid="{{.originalquestion}}" data-body="{{.body}}" data-name="{{.name}}" id="task_{{.id}}" class="hoverable collection-item drag-block white black-text task dragListItem">
                                        <span class="grey-text by-line taskBody">Created By: {{.displayname}}</span>
                                        <br />
                                        <span class='taskBody'>{{.body}}</span>
                                        <div class="secondary-content">
                                            <label id='label_{{.id}}' class="hide">
                                                <input type="checkbox" name="completeCheck_{{.id}}" name="completeCheck_{{.id}}"/>
                                                <span></span>
                                            </label>
                                        </div>
                                        <br />
                                        <!-- <span class="grey-text by-line taskBody">{{if .completed}}Completed By: {{range .completed}}<span style="margin-right:1em;">{{.displayname}}</span>{{end}}{{else}}Not Completed{{end}}</span> -->
                                        {{if .file}}<span class="grey-text by-line taskBody">Attachment: <a href='https://s3.amazonaws.com/paariomain{{.file}}'>{{.file}}</a>{{end}}
                                    </div>
                                </li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "footer"}}
    <div class="hidden"></div>
{{end}}

{{ define "extra_js" }}
<script type="text/javascript">
/*===================================================================
* Initializers
*===================================================================*/

var overlayDiv = document.createElement("div");     //Prevents text and anchor selection
var item = null;
var takenItem = null;
var isTouchDown = false;

//https://gist.github.com/jcxplorer/823878
function uuid() {
    var uuid = "", i, random;
    for (i = 0; i < 32; i++) {
        random = Math.random() * 16 | 0;

        if (i == 8 || i == 12 || i == 16 || i == 20) {
        uuid += "-"
        }
        uuid += (i == 12 ? 4 : (i == 16 ? (random & 3 | 8) : random)).toString(16);
    }
    return uuid;
    
}

$.fn.extend({
    disableSelection: function() {
        this.each(function() {
            this.onselectstart = function() {
                return false;
            };
            this.unselectable = "on";
            $(this).css('-moz-user-select', 'none');
            $(this).css('-webkit-user-select', 'none');
        });
        return this;
    }
});

String.prototype.format = String.prototype.f = function() {
    var s = this,
        i = arguments.length;

    while (i--) {
        s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
    }
    return s;
};

var isMobile = false; //initiate as false
// device detection
if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
    || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) { 
    isMobile = true;
}

if (isMobile) {
    var winWidth = $(window).width();
    $("#mainArea").css("width", (winWidth * 2) - 50 + "px")
    $("#mainArea").css("overflow-x:", "scroll")
}

var privateIdList = [{{range .privateTasks}}{{if .originalquestion }}{{.originalquestion}},{{end}}{{end}}{{range .completeTasks}}{{if .originalquestion }}{{.originalquestion}},{{end}}{{end}}];
var publicIdList = [{{range .publicTasks}}{{if .originalquestion }}{{.originalquestion}},{{end}}{{end}}];
var isSelectingItem = false;
var c_x = 0;
var c_y = 0;

//Declares the first tab to be called
var currentTab = {{.FirstTab}};

function touchHandler(event) {
    var touch = event.changedTouches[0];

    var simulatedEvent = document.createEvent("MouseEvent");
        simulatedEvent.initMouseEvent({
        touchstart: "mousedown",
        touchmove: "mousemove",
        touchend: "mouseup",
        touchcancel: "mouseup"
    }[event.type], true, true, window, 1,
        touch.screenX, touch.screenY,
        touch.clientX, touch.clientY, false,
        false, false, false, 0, null);

    if (event.type == "touchend") {
        $("#baseBody").get(0).removeChild(item)
        //TODO Rewrite for efficiency
        if (!takenItem.hasClass("dragListItemPrivate")){
            dragAreaLeft = $("#taskList").fixedPosition()["x"];
            dragAreaRight = $("#taskList").fixedPosition()["x"] + $("#taskList").get(0).offsetWidth;
            dragAreaTop = $("#taskList").fixedPosition()["y"];
            dragAreaBottom = $("#taskList").fixedPosition()["y"]+ $("#taskList").get(0).offsetHeight;
        }else{
            dragAreaLeft = $("#publicTaskList").fixedPosition()["x"];
            dragAreaRight = $("#publicTaskList").fixedPosition()["x"] + $("#publicTaskList").get(0).offsetWidth;
            dragAreaTop = $("#publicTaskList").fixedPosition()["y"];
            dragAreaBottom = $("#publicTaskList").fixedPosition()["y"]+ $("#publicTaskList").get(0).offsetHeight;
        }

        var signature = uuid();
        if(c_x > dragAreaLeft && c_x < dragAreaRight && c_y > dragAreaTop && c_y < dragAreaBottom && !takenItem.hasClass("dragListItemPrivate")) {
            if ($.inArray(takenItem.data('id'), privateIdList) == -1 && $.inArray(takenItem.data('oid'), publicIdList)) {
                item.style.position = "";
                item.style.width = "100%"
                item.id = "task_" + signature
                item.classList += " dragListItemPrivate";
                $(item).removeClass("dragListItem");
                $(item).removeClass("currentDragItem");

                item.querySelector('#label_' + takenItem.data("id")).classList += " hide"
                item.querySelector('#label_' + takenItem.data("id")).id = "label_" + signature
                item.querySelector('#delete_' + takenItem.data("id")).id = "delete_" + signature
                item.querySelector('#dropdown' + takenItem.data("id")).id = "dropdown" + signature
                item.querySelector('#a_drop_' + takenItem.data("id")).id = "a_drop_" + signature
                item.querySelector('#completeCheck_' + takenItem.data("id")).setAttribute("name", "completeCheck_"+ signature)
                item.querySelector('#completeCheck_' + takenItem.data("id")).id = "completeCheck_"+ signature

                overlayDiv.remove();

                var li = document.createElement("li");
                li.id = "li_" + signature
                li.appendChild(item);
                privateIdList.push(takenItem.data('id'))
                $("#taskList").prepend(li);
                addToPrivateTask(takenItem.data("id"),takenItem.data("body"),takenItem.data("name"), takenItem.data("file"), signature);
            }else{
                M.toast({html: 'Item already in tasks list.'})
            }
        } else if(c_x > dragAreaLeft && c_x < dragAreaRight && c_y > dragAreaTop && c_y < dragAreaBottom && takenItem.hasClass("dragListItemPrivate")) {
            if ($.inArray(takenItem.data('id'), publicIdList) == -1 && $.inArray(takenItem.data('oid'), privateIdList)) {
                var li = document.createElement("li");

                item.style.position = "";
                item.style.width = "100%";
                item.id = "task_" + signature;
                item.classList += " dragListItem";
                $(item).removeClass("dragListItemPrivate");
                $(item).removeClass("currentDragItem");
                item.querySelector('#label_' + takenItem.data("id")).classList += " hide"
                item.querySelector('#label_' + takenItem.data("id")).id = "label_" + signature
                item.querySelector('#delete_' + takenItem.data("id")).id = "delete_" + signature
                item.querySelector('#dropdown' + takenItem.data("id")).id = "dropdown" + signature
                item.querySelector('#a_drop_' + takenItem.data("id")).id = "a_drop_" + signature
                item.querySelector('#completeCheck_' + takenItem.data("id")).setAttribute("name", "completeCheck_"+ signature)
                item.querySelector('#completeCheck_' + takenItem.data("id")).id = "completeCheck_"+ signature
                publicIdList.push(takenItem.data('id'))
                overlayDiv.remove();

                li.appendChild(item);
                
                $("#publicTaskList").prepend(li);
                addToPublicTask(takenItem.data("id"),takenItem.data("body"), takenItem.data("name"), takenItem.data("file"), signature);
            }else{
                M.toast({html: 'Item already in public tasks list.'})
            }
        }
        isSelectingItem = false;
        item = null;
        takenItem = null;
    }

    touch.target.dispatchEvent(simulatedEvent);
    try {
        event.preventDefault();
    } catch (error) {
        
    }
}

$(document).ready(function(){
    document.addEventListener("touchstart", touchHandler, true);
    document.addEventListener("touchmove", touchHandler, true);
    document.addEventListener("touchend", touchHandler, true);
    document.addEventListener("touchcancel", touchHandler, true);
    $('.notSelectable').disableSelection();
    
    $('.modal').modal();
    var instance_page = M.Tabs.init(document.getElementById("boardTabs"), null);
    var instance = M.Tabs.init(document.getElementById("privateTabs"), null);

    var boardTabs = M.Tabs.getInstance(document.getElementById("boardTabs"));

    var lastTabId = getCookie('lastTab');

    if (lastTabId != "") {
        $('#tab_' + lastTabId).click()
        boardTabs.select("#tab_" + lastTabId)
        boardTabs.updateTabIndicator();
    }else{
        $('#tab_' + currentTab).click()
        boardTabs.select("#tab_" + lastTabId)
        boardTabs.updateTabIndicator();
    }
});

function addFbToken(token) {
    $.post("/api/users/token/?board=" + {{.Board.id}} + "&token="+token, function(res){
        var response = JSON.parse(res)
        console.log(response);
        if ("Error" in response) {
            console.log('Token Register Failed')
        }else{
            console.log('Token Register Success')
        }
    });
}

var config = {
    apikey: "AAAAskOw0U8:APA91bHWWqwO1AF_dq1MkXwpMdawR7aIx3-0kpTsrWNm01WUopc8mfbDm6JVee_Q1naJIbMQXo08Bxpc-i3kzlQRRq5954oFBUT1zZqby3U9ciQvqZjKfw4JRd1Z7N869la6Nj4gdSPJ",
    messagingSenderId: "765639840079",   
}
firebase.initializeApp(config);
const messaging = firebase.messaging();
messaging.requestPermission().then(function() {
    console.log("General Kenobi")
    return messaging.getToken();
})
.then(function(token){
    addFbToken(token);
});

function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=" + window.location.href;
}

function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function formatDate(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'pm' : 'am';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return date.getMonth()+1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
}

function Point(x, y) {
    return {
        'x': x,
        'y': y,
        'left': x,
        'top': y
    };
}

$.fn.outerOffset = function () {
    /// <summary>Returns an element's offset relative to its outer size; i.e., the sum of its left and top margin, padding, and border.</summary>
    /// <returns type="Object">Outer offset</returns>
    var margin = this.margin();
    var padding = this.padding();
    var border = this.border();
    return Point(
        margin.left + padding.left + border.left,
        margin.top + padding.top + border.top
    );
};
$.fn.fixedPosition = function () {
    /// <summary>Returns the "fixed" position of the element; i.e., the position relative to the browser window.</summary>
    /// <returns type="Object">Object with 'x' and 'y' properties.</returns>
    var offset = this.offset();
    var $doc = $(document);
    var bodyOffset = $(document.body).outerOffset();
    return Point(offset.left - $doc.scrollLeft() + bodyOffset.left, offset.top - $doc.scrollTop() + bodyOffset.top);
};
$.fn.exchangePositionWith = function(selector) {
    var other = $(selector);
    this.after(other.clone());
    other.after(this).remove();
};

var dragAreaLeftPrivate = $("#taskList").fixedPosition()["x"];
var dragAreaRightPrivate = $("#taskList").fixedPosition()["x"] + $("#taskList").get(0).offsetWidth;
var dragAreaTopPrivate = $("#taskList").fixedPosition()["y"];
var dragAreaBottomPrivate = $("#taskList").fixedPosition()["y"]+ $("#taskList").get(0).offsetHeight;

//Initializes web socket variables
var ws = null;
var socketIsOpen = false;

if ("WebSocket" in window) {
    ws = new WebSocket('wss://' + window.location.host + '/ws?sessionId=' + {{.SessionId}})

    ws.onopen = function() {
        socketIsOpen = true;
    };

    ws.onmessage = function (evt) { 
        var received_msg = evt.data;
        console.log('Message is received: ' + received_msg);
        var responseJson = JSON.parse(evt.data);

        if (responseJson['isTab']) {
            console.log('New Tab Recieved')
            createNewTab(responseJson);
        } else {
            if (responseJson["task"]["owner"] != {{.UserId}} && responseJson["tab"] == currentTab) {
                addPublicTask(responseJson["task"])
            } else {
                var baseId = "#task_" + responseJson["signature"]
                var listId = "#li_" + responseJson["signature"]
                var labelId = "#label_" + responseJson["signature"]
                var deleteId = "#delete_" + responseJson["signature"]
                var dropDownId = "#dropdown" + responseJson["signature"]
                var deleteAnchorId = "#a_drop_" + responseJson["signature"]
                var checkName = "#completeCheck_" + responseJson["signature"]


                $(baseId).data("id", responseJson["id"])
                $(baseId).data("body", responseJson["message"])
                $(baseId).data("oid", responseJson["originalquestion"])
                $(checkName).data("id", responseJson["id"])
                $(deleteId).data("id", responseJson["id"])

                if(responseJson['file']) {
                    $("#file_" + responseJson["signature"]).html("Attachment: <a href='https://s3.amazonaws.com/paariomain" + responseJson["file"] + "'>" + responseJson["file"] + "</a>")
                }

                if (responseJson['isPublic']) {
                    $(labelId).addClass("hide")
                    $(deleteAnchorId).addClass("hide")
                } else {
                    $(labelId).removeClass("hide")
                    $(deleteAnchorId).removeClass("hide")
                }
                $(deleteAnchorId).attr("data-target", "dropdown" + responseJson["id"])
                
                //Reset latest element ids
                $(deleteAnchorId).get(0).id = "a_drop_" + responseJson["id"]
                $(dropDownId).get(0).id = "dropdown" + responseJson["id"]
                $(deleteId).get(0).id = "delete_" + responseJson["id"]
                $(listId).get(0).id = "li_" + responseJson["id"]
                $(labelId).get(0).id = "label_" + responseJson["id"]
                $(checkName).attr("name", "completeCheck_" + responseJson["id"])
                $(checkName).get(0).id = "completeCheck_" + responseJson["id"]
                $(baseId).get(0).id = "task_" + responseJson["id"]
            }
        }
        $('.dropdown-trigger').dropdown();
        $('.notSelectable').disableSelection();
    }
} else {
    alert('Your browser does not support web sockets. {{.SiteTitle}} will not function properly.')
}

/*===================================================================
* Task Functions (Create)
*===================================================================*/

function addNewTab(title) {
    ws.send(JSON.stringify({
        Email: "",
        Username: "{{.Board.id}}",
        Message: title,
        isPublic: false,
        Id: -1,
        signature: "",
        complete: false,
        creating: false,
        isTab: true,
    }));
}

function createNewTab(responseJson) {
    var template = '<a class="active" href="#tab_area_{0}">{1}</a>'.format(responseJson["id"], responseJson["message"])
    var listItem = document.createElement("li")
    listItem.classList += " tab col s6 tab-tab"
    listItem.setAttribute("data-id", responseJson["id"])
    listItem.innerHTML = template
    $("#addTabLi").before(listItem)
}

function createPrivateTask(body, signature) {
    ws.send(JSON.stringify({
        Email: "",
        Username: "{{.Board.id}}",
        Message: anchorme(body),
        isPublic: false,
        Id: -1,
        signature: signature,
        creating: true,
        tab: currentTab,
    }));
}

function createPublicTask(body, signature) {
    ws.send(JSON.stringify({
        Email: "",
        Username: "{{.Board.id}}",
        Message: anchorme(body),
        isPublic: true,
        Id: -1,
        signature: signature,
        creating: true,
        tab: currentTab,
    }));
}

function createPrivateTaskWithFile(form, signature, body) {
    var data = new FormData(form)

    data.append("Message", anchorme(body))
    data.append("isPublic", false)
    data.append("Id", -1)
    data.append("signature", signature)
    data.append("creating", true)
    data.append("tab", currentTab)
    data.append("session", '{{.Board.session}}')

    $.ajax({
        type: "POST",
        enctype: 'multipart/form-data',
        url: $(form).attr('action'),
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function (data) {
            console.log("SUCCESS : ", data);
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
    });
}

function createPublicTaskWithFile(form, signature, body) {
    var data = new FormData(form)

    data.append("Message", anchorme(body))
    data.append("isPublic", true)
    data.append("Id", -1)
    data.append("signature", signature)
    data.append("creating", true)
    data.append("tab", currentTab)
    data.append("session", '{{.Board.session}}')

    $.ajax({
        type: "POST",
        enctype: 'multipart/form-data',
        url: $(form).attr('action'),
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function (data) {
            console.log("SUCCESS : ", data);
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
    });
}

function completeTask(id) {
    var taskDiv = $("#task_" + id);
    $("#recentTaskList").prepend(taskDiv);
    $("#li_" + id).remove();
    ws.send(JSON.stringify({
        Email: "",
        Username: "",
        Message: "",
        isPublic: false,
        Id: id,
        signature: "",
        complete: true,
        creating: false,
        tab: currentTab,
    }));
}
function redoTask(id) {
    var taskDiv = $("#task_" + id);
    taskDiv.addClass("dragListItemPrivate")
    $("#taskList").prepend(taskDiv);
    $("#li_" + id).remove();
    ws.send(JSON.stringify({
        Email: "",
        Username: "",
        Message: "",
        isPublic: false,
        Id: id,
        signature: "",
        complete: false,
        creating: false,
    }));
}

function deleteTask(task) {

}

/*===================================================================
* Tab Functions
*===================================================================*/

function changeTabs(id){
    currentTab = id;
    $("#taskList").get(0).innerHTML = "<div class='progress'><div class='indeterminate'></div></div>"
    $("#publicTaskList").get(0).innerHTML = "<div class='progress'><div class='indeterminate'></div></div>"
    $("#recentTaskList").get(0).innerHTML = ""
    privateIdList = []
    publicIdList = []
    $.post("/api/board/tabs/get/", {"tab": id, "board":"{{.Board.session}}"}, function(res){
        var response = JSON.parse(res)

        if ("Error" in response) {
            alert("Failed to get tabs")
        }else{
            var publicList = response["Success"]["public"]
            var privateList = response["Success"]["private"]
            var completeList = response["Success"]["complete"]
            var indents = [];
            if (privateList != null){
                for (var i = 0; i < privateList.length; i++) {
                    if (privateList[i]['originalquestion']) {
                        privateIdList.push(privateList[i]['originalquestion'])
                    }
                    
                    addPrivateTask(privateList[i], false);
                }        
            }

            if (publicList != null){
                for (var i = 0; i < publicList.length; i++) {
                    if (publicList[i]['originalquestion']) {
                        publicIdList.push(publicList[i]['originalquestion'])
                    }
                    addPublicTask(publicList[i], false);
                }                
            }

            if (completeList != null){
                for (var i = 0; i < completeList.length; i++) {
                    if (completeList[i]['originalquestion']) {
                        privateIdList.push(completeList[i]['originalquestion'])
                    }
                    addCompleteTask(completeList[i], false)
                }                
            }
        }
        $('.notSelectable').disableSelection();
        $('.dropdown-trigger').dropdown(); 
        $('.progress').remove();
    });
}

$("#newTab").click(function(e) {
    e.preventDefault();
    var newTabTitle = window.prompt("New tab name:", "")
    if (newTabTitle != "") {
        addNewTab(newTabTitle)
    }
});

$('#boardTabs').on("click", ".tab-tab", function(e) {
    //alert($(this).data("id"));
    var id = $(this).data("id");
    setCookie('lastTab', id, 30)
    changeTabs(id);
})

$("#saveBoard").click(function() {
    $.post("/api/boards/add/?boardId="+{{.Board.id}}, function(res){
        var response = JSON.parse(res)
        if (!("Success" in response)) {
            M.toast({html: 'Board Already Added'})
        }else{
            $("#saveBoard").get(0).innerHTML = "Added"
            M.toast({html: 'Added Board'})
        }
        console.log(response);
    });
})

/*===================================================================
* Task Functions (Add)
*===================================================================*/

function addToPrivateTask(id, body, username, file, signature) {
    ws.send(JSON.stringify({
        Username: '{{.Board.id}}',
        Message: body,
        isPublic: false,
        Id: id,
        signature: signature,
        creating: true,
        tab: currentTab,
        file: file,
    }));
}

function addToPublicTask(id, body, username, file, signature){
    ws.send(JSON.stringify({
        Username: '{{.Board.id}}',
        Message: body,
        isPublic: true,
        Id: id,
        signature: signature,
        creating: true,
        tab: currentTab,
        file: file,
    }));
}

function addPrivateTask(task, prepend) {
    console.log(task)
    var taskId = "task_" + task["id"]
    var completeSig = "completeCheck_" + task["id"]
    var labelSig = "label_" + task["id"]
    var liSig = "li_" + task["id"]
    if (task["originalquestion"] != null){
        
    }
    var li = document.createElement("li");
    var div = document.createElement("div");
    var overlayDiv = document.createElement("div");
    var span = document.createElement("span");
    var spanBody = document.createElement("span")
    var innerDiv = document.createElement("div");
    var label = document.createElement("label");
    var checkbox = document.createElement("input");
    var checkSpan = document.createElement("span");
    var breakTag = document.createElement("br");
    var moreOptions = document.createElement("span")

    var completeSpan = document.createElement("span");
    var fileSpan = document.createElement("span");
    
    li.classList += "hoverable"
    label.classList += ""
    innerDiv.classList += "secondary-content"
    span.classList += "grey-text by-line taskBody notSelectable"
    spanBody.classList += ' taskBody taskBody notSelectable'
    div.classList += "hoverable collection-item drag-block white black-text task dragListItemPrivate notSelectable"
    completeSpan.classList += "grey-text by-line taskBody notSelectable"
    overlayDiv.id = 'infoi'
    fileSpan.classList += " grey-text by-line taskBody notSelectable"
    fileSpan.id = "file_" + task['id']

    checkbox.setAttribute("type", "checkbox");
    $(checkbox).data("id", task["id"]);
    $(checkbox).data("complete", false);
    checkbox.setAttribute("name", "completeCheck_" + task["id"]);
    
    $(div).data("id", task["id"]);
    if (task["originalquestion"] != null){
        
        $(div).data("oid", task["originalquestion"]);
    }
    $(div).data("body", task["body"]);
    $(div).data("name", task["displayname"]);
    $(div).data("file", task["file"]);

    label.id = labelSig
    checkbox.id = completeSig
    div.id = taskId
    li.id = liSig

    span.innerHTML = "Created By: " + task["displayname"]
    span.innerHTML = "Created By: " + task["displayname"]
    spanBody.innerHTML = task["body"]
    completeSpan.innerHTML = 'Posted: ' + formatDate(new Date(task["timestamp"]))

    if (task['file']){
        fileSpan.innerHTML = "Attachment: <a href='https://s3.amazonaws.com/paariomain" + task["file"] + "'>" + task["file"] + "</a>"
    }

    moreOptions.innerHTML = '<a href="#" class="dropdown-trigger" data-target="dropdown' + task['id'] + '" id="a_drop_' + task['id'] + '"><i class="material-icons">more_vert</i></a>'
    moreOptions.innerHTML += '<ul id="dropdown' + task['id'] + '" class="dropdown-content"><li><a class="delete-task-private" href="#!" id="delete_' + task['id'] + '">Delete</a></li></ul>'
    
    label.appendChild(checkbox)
    label.appendChild(checkSpan)
    innerDiv.appendChild(label)
    innerDiv.appendChild(moreOptions)
    div.appendChild(span)
    div.appendChild(document.createElement("br"))
    div.appendChild(spanBody)
    div.appendChild(innerDiv)
    div.appendChild(breakTag)
    div.appendChild(completeSpan)
    if (task["file"]){
        div.appendChild(document.createElement("br"))
        div.appendChild(fileSpan)
    }
    li.appendChild(div)
    if (prepend){
        $("#taskList").prepend(li)
    } else {
        $("#taskList").get(0).appendChild(li)
    }
    
    $('#delete_' + task['id']).data('id', task['id'])
}

function addPublicTask(task, prepend) {
    var taskId = "task_" + task["id"]
    var completeSig = "completeCheck_" + task["id"]
    var labelSig = "label_" + task["id"]
    var liSig = "li_" + task["id"]
    if (task["originalquestion"] != null){
        
    }
    
    var li = document.createElement("li");
    var div = document.createElement("div");
    var overlayDiv = document.createElement("div");
    var span = document.createElement("span");
    var spanBody = document.createElement("span")
    var innerDiv = document.createElement("div");
    var label = document.createElement("label");
    var checkbox = document.createElement("input");
    var checkSpan = document.createElement("span");
    var breakTag = document.createElement("br");
    var moreOptions = document.createElement("span")

    var completeSpan = document.createElement("span");
    var fileSpan = document.createElement("span");
    $(div).attr('unselectable', "on")
    li.classList += "hoverable"
    label.classList += " hide"
    innerDiv.classList += "secondary-content notSelectable"
    span.classList += "grey-text by-line taskBody notSelectable"
    spanBody.classList += ' taskBody taskBody'
    div.classList += "hoverable collection-item drag-block white black-text task dragListItem notSelectable"
    completeSpan.classList += "grey-text by-line taskBody notSelectable"
    overlayDiv.id = 'infoi'
    fileSpan.classList += " grey-text by-line taskBody notSelectable"

    checkbox.setAttribute("type", "checkbox");
    $(checkbox).data("id", task["id"]);
    $(checkbox).data("complete", false);
    checkbox.setAttribute("name", "completeCheck_" + task["id"]);
    
    $(div).data("id", task["id"]);
    
    if (task["originalquestion"] != null){
        $(div).data("oid", task["originalquestion"]);
    }

    $(div).data("body", task["body"]);
    $(div).data("name", task["displayname"]);
    $(div).data("file", task["file"]);

    label.id = labelSig
    checkbox.id = completeSig
    div.id = taskId
    li.id = liSig

    span.innerHTML = "Created By: " + task["displayname"]
    spanBody.innerHTML = task["body"]
    completeSpan.innerHTML = 'Posted: ' + formatDate(new Date(task["timestamp"]))
    fileSpan.id = "file_" + task['id']

    if (task['file']){
        fileSpan.innerHTML = "Attachment: <a href='https://s3.amazonaws.com/paariomain" + task["file"] + "'>" + task["file"] + "</a>"
    }

    moreOptions.innerHTML = '<a href="#" class="dropdown-trigger hide" data-target="dropdown' + task['id'] + '" id="a_drop_' + task['id'] + '"><i class="material-icons">more_vert</i></a>'
    moreOptions.innerHTML += '<ul id="dropdown' + task['id'] + '" class="dropdown-content"><li><a class="delete-task-private" href="#!" id="delete_' + task['id'] + '">Delete</a></li></ul>'
    
    label.appendChild(checkbox)
    label.appendChild(checkSpan)
    innerDiv.appendChild(label)
    innerDiv.appendChild(moreOptions)
    div.appendChild(span)
    div.appendChild(document.createElement("br"))
    div.appendChild(spanBody)
    div.appendChild(innerDiv)
    div.appendChild(breakTag)
    div.appendChild(completeSpan)
    if (task["file"]){
        div.appendChild(document.createElement("br"))
        div.appendChild(fileSpan)
    }
    li.appendChild(div)
    if (prepend){
        $("#publicTaskList").prepend(li)
    } else {
        $("#publicTaskList").get(0).appendChild(li)
    }
    
    $('#delete_' + task['id']).data('id', task['id'])
}

function addCompleteTask(task, prepend) {
    console.log(task)
    var taskId = "task_" + task["id"]
    var completeSig = "completeCheck_" + task["id"]
    var labelSig = "label_" + task["id"]
    var liSig = "li_" + task["id"]
    if (task["originalquestion"] != null){
        
    }
    var li = document.createElement("li");
    var div = document.createElement("div");
    var overlayDiv = document.createElement("div");
    var span = document.createElement("span");
    var spanBody = document.createElement("span")
    var innerDiv = document.createElement("div");
    var label = document.createElement("label");
    var checkbox = document.createElement("input");
    var checkSpan = document.createElement("span");
    var breakTag = document.createElement("br");
    var moreOptions = document.createElement("span")

    var completeSpan = document.createElement("span");
    var fileSpan = document.createElement("span");
    $(div).attr('unselectable', "on")
    li.classList += "hoverable"
    label.classList += ""
    innerDiv.classList += "secondary-content"
    span.classList += "grey-text by-line taskBody"
    spanBody.classList += ' taskBody taskBody'
    div.classList += "hoverable collection-item drag-block white black-text task dragListItemPrivate notSelectable"
    completeSpan.classList += "grey-text by-line taskBody"
    overlayDiv.id = 'infoi'
    fileSpan.classList += " grey-text by-line taskBody"

    checkbox.setAttribute("type", "checkbox");
    checkbox.setAttribute("checked", "");
    $(checkbox).data("id", task["id"]);
    $(checkbox).data("complete", false);
    checkbox.setAttribute("name", "completeCheck_" + task["id"]);
    
    $(div).data("id", task["id"]);
    if (task["originalquestion"] != null){
        
        $(div).data("oid", task["originalquestion"]);
    }
    $(div).data("body", task["body"]);
    $(div).data("name", task["displayname"]);
    $(div).data("file", task["file"]);
    $(div).attr('unselectable', "on")
    label.id = labelSig
    checkbox.id = completeSig
    div.id = taskId
    li.id = liSig

    span.innerHTML = "Created By: " + task["displayname"]
    span.innerHTML = "Created By: " + task["displayname"]
    spanBody.innerHTML = task["body"]
    completeSpan.innerHTML = 'Posted: ' + formatDate(new Date(task["timestamp"]))

    if (task['file']){
        fileSpan.innerHTML = "Attachment: <a href='https://s3.amazonaws.com/paariomain" + task["file"] + "'>" + task["file"] + "</a>"
    }

    moreOptions.innerHTML = '<a href="#" class="dropdown-trigger" data-target="dropdown' + task['id'] + '" id="a_drop_' + task['id'] + '"><i class="material-icons">more_vert</i></a>'
    moreOptions.innerHTML += '<ul id="dropdown' + task['id'] + '" class="dropdown-content"><li><a class="delete-task-private" href="#!" id="delete_' + task['id'] + '">Delete</a></li></ul>'
    
    label.appendChild(checkbox)
    label.appendChild(checkSpan)
    innerDiv.appendChild(label)
    innerDiv.appendChild(moreOptions)
    div.appendChild(span)
    div.appendChild(document.createElement("br"))
    div.appendChild(spanBody)
    div.appendChild(innerDiv)
    div.appendChild(breakTag)
    div.appendChild(completeSpan)
    if (task["file"]){
        div.appendChild(document.createElement("br"))
        div.appendChild(fileSpan)
    }
    li.appendChild(div)
    if (prepend){
        $("#recentTaskList").prepend(li)
    } else {
        $("#recentTaskList").get(0).appendChild(li)
    }

    
    
    $('#delete_' + task['id']).data('id', task['id'])
}

$("#taskList").on("click", "input[type=checkbox]", function(event){
    console.log("Complete: " + $(this).data("id"))
    completeTask($(this).data("id"))
    $(this).data("complete", true)
});


$("#recentTaskList").on("click", "input[type=checkbox]", function(event){
    console.log("Redo: " + $(this).data("id"))
    redoTask($(this).data("id"))
    $(this).data("complete", false)
});

$('#taskList').on('click', '.delete-task-private', function(e){
    var id = $(this).data('id')
    if (confirm('Are you sure you want to delete this task?')){
        $('#li_' + id).remove()
        $.post('/api/tasks/delete/?task=' + id, function(res){
            var response = JSON.parse(res)
            console.log(response);
            if ("Error" in response) {
                //alert('Error');
                console.log('Error');
            }else{
                console.log('Success');
            }
        });
    }
});

$('#recentTaskList').on('click', '.delete-task-private', function(e){
    var id = $(this).data('id')
    if (confirm('Are you sure you want to delete this task?')){
        $('#li_' + id).remove()
        $.post('/api/tasks/delete/?task=' + id, function(res){
            var response = JSON.parse(res)
            console.log(response);
            if ("Error" in response) {
                //alert('Error');
                console.log('Error');
            }else{
                console.log('Success');
            }
        });
    }
});

/*===================================================================
* Form Handlers
*===================================================================*/
$('form[name=settingsForm]').submit(function(){
    // Maybe show a loading indicator...
    //$("form[name=settingsForm]").hide(100);
    $.post($(this).attr('action'), $(this).serialize(), function(res){
        // Do something with the response `res`
        var response = JSON.parse(res)
        if ("Error" in response) {
            //document.getElementById('error').innerHTML = "Incorrect Credentials: Try again."
            //$("form[name=settingsForm]").show(100);
        }else{
            $('#visionTitle').text($('#board_vision').val())
        }
        console.log(response);
        // Don't forget to hide the loading indicator!
    });

    
    return false; // prevent default action

});

$('form[name=taskForm]').submit(function(e){
    e.preventDefault();
    var body = $('#Body').val();

    var signature = uuid();

    if (!document.getElementById("fileUploadPrivate").files.length == 0){
        addPrivateTask({
            originalquestion: null,
            id: signature,
            body: anchorme(body),
            displayname: 'You',
            file: 'Uploading...',
            timestamp: (new Date()).toString(),
        }, true);
        createPrivateTaskWithFile($('form[name=taskForm]')[0], signature, body);
    } else {
        addPrivateTask({
            originalquestion: null,
            id: signature,
            body: anchorme(body),
            displayname: 'You',
            file: '',
            timestamp: (new Date()).toString(),
        }, true);
        createPrivateTask(body, signature);
    }
    $('#Body').val('');
});

$('form[name=publicTaskForm]').submit(function(e){
    e.preventDefault();
    var body = $('#main_input').val();

    var signature = uuid();

    if (!document.getElementById("fileUploadPublic").files.length == 0){
        addPublicTask({
            originalquestion: null,
            id: signature,
            body: body,
            displayname: 'You',
            file: 'Uploading...',
            timestamp: (new Date()).toString(),
        }, true);
        createPublicTaskWithFile(this, signature, body);
    } else {
        addPublicTask({
            originalquestion: null,
            id: signature,
            body: body,
            displayname: 'You',
            file: '',
            timestamp: (new Date()).toString(),
        }, true);
        createPublicTask(body, signature);
    }
    $('#main_input').val('');
});

/*===================================================================
* Mouse/Touch Handlers
*===================================================================*/

$('#taskList').on('mousedown', '.dragListItemPrivate', function(e){
    e.preventDefault()
    if(e.target == this){
        if (isMobile) {
            isTouchDown = true;
            var curNode = this;
            try {
                $('#currentDragItem').remove()
            } catch (error) {
                
            }
            window.setTimeout(function() {
                if (isTouchDown) {
                    overlayDiv.id = 'infoi';
                    item = curNode.cloneNode(true);
                    item.appendChild(overlayDiv);
                    takenItem = $(curNode);
                    document.getElementById("baseBody").appendChild(item);
                    isSelectingItem = true;
                    
                    item.id = 'currentDragItem'
                    item.className += ' currentDragItem'
                    item.style.position= 'fixed'
                }               
            }, 400);
        } else {
            overlayDiv.id = 'infoi';
            item = this.cloneNode(true);
            item.appendChild(overlayDiv);
            takenItem = $(this);
            document.getElementById("baseBody").appendChild(item);
            isSelectingItem = true;
            
            item.id = 'currentDragItem'
            item.className += ' currentDragItem'
            item.style.position= 'fixed'
        }
    }
});

$('#publicTaskList').on('mousedown', '.dragListItem', function(e){
    e.preventDefault()
    if(e.target == this){
        if (isMobile) {
            isTouchDown = true;
            var curNode = this;
            try {
                $('#currentDragItem').get(0).remove()
            } catch (error) {
                
            }

            window.setTimeout(function() {
                if (isTouchDown) {
                    overlayDiv.id = 'infoi';
                    item = curNode.cloneNode(true);
                    item.appendChild(overlayDiv);
                    takenItem = $(curNode);
                    document.getElementById("baseBody").appendChild(item);
                    isSelectingItem = true;
                    
                    item.id = 'currentDragItem'
                    item.className += ' currentDragItem'
                    item.style.position= 'fixed'
                }               
            }, 400);
        } else {
            overlayDiv.id = 'infoi';
            item = this.cloneNode(true);
            item.appendChild(overlayDiv);
            takenItem = $(this);
            document.getElementById("baseBody").appendChild(item);
            isSelectingItem = true;
            
            item.id = 'currentDragItem'
            item.className += ' currentDragItem'
            item.style.position= 'fixed'
        }
        
    }
});

$("#publicTaskList").on("mouseup", ".dragListItem", function(event){
    isTouchDown = false;
    $(this).removeClass("selected-task")
    isSelectingItem = false;
    takenItem = null;
    item = null;
});

$("#taskList").on("mouseup", ".dragListItemPrivate", function(event){
    isTouchDown = false;
    $(this).removeClass("selected-task")
    isSelectingItem = false;
    takenItem = null;
    item = null;
});

$(document).mousemove(function(event){
    
    if (isSelectingItem){
        
        var x_pos = event.clientX;     // Get the horizontal coordinate
        var y_pos = event.clientY;     // Get the vertical coordinate
        // console.log(x_pos);
        // console.log(y_pos);
        
        c_x = x_pos;
        c_y = y_pos;
        
        if (isMobile){
            item.style.width = "90%";
        }else{
            item.style.width = "20%";
        }
        item.style.position = "fixed";
        item.style.left = x_pos - item.offsetWidth/2 +'px';
        item.style.top = y_pos - item.offsetHeight/2+'px';   
        $("#tab_area").get(0).scrollLeft = x_pos - item.offsetWidth/2;
    }
    
    event.preventDefault();
    
});

$("#baseBody").on("mouseup", "#currentDragItem", function(event){
    isTouchDown = false;
    $("#baseBody").get(0).removeChild(item)
    //TODO Rewrite for efficiency
    if (!takenItem.hasClass("dragListItemPrivate")){
        dragAreaLeft = $("#taskList").fixedPosition()["x"];
        dragAreaRight = $("#taskList").fixedPosition()["x"] + $("#taskList").get(0).offsetWidth;
        dragAreaTop = $("#taskList").fixedPosition()["y"];
        dragAreaBottom = $("#taskList").fixedPosition()["y"]+ $("#taskList").get(0).offsetHeight;
    }else{
        dragAreaLeft = $("#publicTaskList").fixedPosition()["x"];
        dragAreaRight = $("#publicTaskList").fixedPosition()["x"] + $("#publicTaskList").get(0).offsetWidth;
        dragAreaTop = $("#publicTaskList").fixedPosition()["y"];
        dragAreaBottom = $("#publicTaskList").fixedPosition()["y"]+ $("#publicTaskList").get(0).offsetHeight;
    }

    var signature = uuid();
    if(c_x > dragAreaLeft && c_x < dragAreaRight && c_y > dragAreaTop && c_y < dragAreaBottom && !takenItem.hasClass("dragListItemPrivate")) {
        if ($.inArray(takenItem.data('id'), privateIdList) == -1 && $.inArray(takenItem.data('oid'), publicIdList)) {
            item.style.position = "";
            item.style.width = "100%"
            item.id = "task_" + signature
            item.classList += " dragListItemPrivate";
            $(item).removeClass("dragListItem");
            $(item).removeClass("currentDragItem");

            item.querySelector('#label_' + takenItem.data("id")).classList += " hide"
            item.querySelector('#label_' + takenItem.data("id")).id = "label_" + signature
            item.querySelector('#delete_' + takenItem.data("id")).id = "delete_" + signature
            item.querySelector('#dropdown' + takenItem.data("id")).id = "dropdown" + signature
            item.querySelector('#a_drop_' + takenItem.data("id")).id = "a_drop_" + signature
            item.querySelector('#completeCheck_' + takenItem.data("id")).setAttribute("name", "completeCheck_"+ signature)
            item.querySelector('#completeCheck_' + takenItem.data("id")).id = "completeCheck_"+ signature

            overlayDiv.remove();

            var li = document.createElement("li");
            li.id = "li_" + signature
            li.appendChild(item);
            privateIdList.push(takenItem.data('id'))
            $("#taskList").prepend(li);
            addToPrivateTask(takenItem.data("id"),takenItem.data("body"),takenItem.data("name"), takenItem.data("file"), signature);
        }else{
            M.toast({html: 'Item already in tasks list.'})
        }
    } else if(c_x > dragAreaLeft && c_x < dragAreaRight && c_y > dragAreaTop && c_y < dragAreaBottom && takenItem.hasClass("dragListItemPrivate")) {
        if ($.inArray(takenItem.data('id'), publicIdList) == -1 && $.inArray(takenItem.data('oid'), privateIdList)) {
            var li = document.createElement("li");

            item.style.position = "";
            item.style.width = "100%";
            item.id = "task_" + signature;
            item.classList += " dragListItem";
            $(item).removeClass("dragListItemPrivate");
            $(item).removeClass("currentDragItem");
            item.querySelector('#label_' + takenItem.data("id")).classList += " hide"
            item.querySelector('#label_' + takenItem.data("id")).id = "label_" + signature
            item.querySelector('#delete_' + takenItem.data("id")).id = "delete_" + signature
            item.querySelector('#dropdown' + takenItem.data("id")).id = "dropdown" + signature
            item.querySelector('#a_drop_' + takenItem.data("id")).id = "a_drop_" + signature
            item.querySelector('#completeCheck_' + takenItem.data("id")).setAttribute("name", "completeCheck_"+ signature)
            item.querySelector('#completeCheck_' + takenItem.data("id")).id = "completeCheck_"+ signature
            publicIdList.push(takenItem.data('id'))
            overlayDiv.remove();

            li.appendChild(item);
            
            $("#publicTaskList").prepend(li);
            addToPublicTask(takenItem.data("id"),takenItem.data("body"), takenItem.data("name"), takenItem.data("file"), signature);
        }else{
            M.toast({html: 'Item already in public tasks list.'})
        }
    }
    isSelectingItem = false;
    item = null;
    takenItem = null;
});

</script>
{{end}}