{{define "change_background"}}
    <style>
        body {
            background-color:white !important;
        }
    </style>
{{end}}
{{define "extra_css"}}
    <style>
        .checkboxLbl {
            margin-top:20px;
            margin-bottom:20px;
        }
    </style>
{{end}}
{{define "header"}}
<nav class='black'>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo left">{{.SiteTitle}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                {{if .isLoggedIn }}<li class='red'><a href="/app/dashboard/">Dashboard</a></li>{{else}}<li class='red'><a href="/register/login/">Log In</a></li>{{end}}
            </ul>
        </div>
    </div>
</nav>
{{end}}
{{ define "content" }}
<div id="taskModal" class="modal">
    <div class="modal-content">
        <h4>Add New Task</h4>
        {{ if .taskForm }}{{ .taskForm.Render }}{{ end }}
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div style="min-height:100vh">
    <div class="container">
        <div class="row">
            <h1 style="font-size:32px;">Create a New Course</h1>
            <div class="divider"></div>
            <div class="row">
                {{ if .form }}{{ .form.Render }}{{ end }}
            </div>
            <div class="row">
                <a id="btnAddTask" class="waves-effect waves-light btn modal-trigger" href="#taskModal">Add Task</a>
            </div>
            <br>
            <div>
                <h2>Tasks</h2>
            </div>
            <br>
            <div class="row">
                <ul class="collection" id="taskList">
                </ul>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "extra_js"}}
<script type="text/babel">
    
</script>

<script type="text/babel">
$(document).ready(function(){
    $('.modal').modal();
});

var taskList = [];

$('form[name=taskForm]').submit(function(e){
    var instance = M.Modal.getInstance(document.getElementById("taskModal"));
    var currentInputs = _.object($("form[name=taskForm]").serializeArray().map(function(v) {return [v.name, v.value];}));
    console.log(currentInputs)
    instance.close();
    addTask(currentInputs["Name"], currentInputs["Body"]);
    taskList.push(currentInputs)
    e.preventDefault();
});

$('form[name=courseForm]').submit(function(e){
    $.post($(this).attr('action'), $(this).serialize(), function(res){
        var response = JSON.parse(res)
        if (!("Success" in response)) {
            if ("Error" in response){
                //document.getElementById('error').innerHTML = response["Error"]
            }
        }else{
            // const element = (
            //     <div class="center-align">
            //         <h3>You are now signed up for {{.SiteTitle}}</h3>
            //         <br />
            //         <a href="#" class="waves-effect waves-light btn red">Start Using {{.SiteTitle}} Now</a>
            //     </div>
            // );
            // ReactDOM.render(element,document.getElementById('main_form'))
        }
        console.log(response);
    });
    e.preventDefault();
});


//Add Task
function addTask(name, body) {
    var ul = document.getElementById("taskList");
    var li = document.createElement("li");
    var title = document.createElement("h3");
    var description = document.createElement("p")
    title.appendChild(document.createTextNode(name))
    description.appendChild(document.createTextNode(body))
    li.appendChild(title);
    li.appendChild(description);
    li.classList.add("collection-item")
    ul.appendChild(li);
}
</script>
{{end}}